# Gradle
.gradle/
build/
out/
classes/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Eclipse
*.launch
.settings/
.metadata/
.classpath
.project
.apt_generated
.factorypath
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
!**/src/main/**/out/
!**/src/test/**/out/

# VS Code
.vscode/

# Fabric/Loom
run/
logs/
.fabric/
remapped/
loom-cache/

# macOS
.DS_Store

# Windows
Thumbs.db

# Misc
*.log
*.jar
!gradle-wrapper.jar